.cart-head {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 40px 40px 0 40px;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

